body{
    background-color: lightblue;
    font-size: 20px;
}

.mobile{
    width: 98%;
    padding: 10px;
    height: 80px;
    line-height: 80px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    float: left;
}

#oper_data_box{
    background-color: lightgray;
    border-color: gray;
    border-radius: 10px;    
}

#minus_data{
    height: 0;
    width: 0;
    border-top: 17px solid transparent;
    border-right: 20px solid gray;
    border-bottom: 17px solid transparent;
    border-left: 0;
    display: inline-block;
}

#plus_data{
    height: 0;
    width: 0;
    border-top: 17px solid transparent;
    border-right: 0;
    border-bottom: 17px solid transparent;
    border-left: 20px solid gray;
    display: inline-block;
}

#oper_dat{
    display: inline-block;
}



#main_box{
    background-color: lightgreen;
    border-radius: 10px;
    border: 1px solid green;
    text-align: center;
    float: left;
}

#main_box input{
    width: 150px;
    font-size: 15px;
}

#main_box select{
    width: 165px;
    font-size: 15px;
}

#main_box button{
    width: 165px;
    font-size: 15px;
}

#main_box textarea{
    width: 150px;
    font-size: 15px;
}

#add_invest{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    float: left;
    cursor: pointer;
}

.invest{
    float: left;
}

.short{
    border: 1px solid blue;
    background-color: paleturquoise;
}

.invest button{
    width: 48%;
    font-size: 15px;
    font-weight: bold;
}

.invest input{
    width: 92%;
}

.invest progress{
    width: 98%;
}

.long{
    border: 1px solid blue;
    background-color: dodgerblue;
    height: 160px;
}

.red{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: darkgray;
    cursor: pointer;
}

#pelena{
    position: fixed;
    background-color: rgba(128,128,128,0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

#add_inp{
    display: none;
}

#red_inv{
    display: none;
}

#red_form{
    position: fixed;
    z-index: 9999;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    top:36%;
    left: 36%;
}


#need_l{
    display: none;
}

#report_table{
    border-color: gray;
    background-color: lightgray;
    display: block;
    height: auto;
}

#main_rep_str{
    width: 100%;
    border: 1px solid gray;
    height: 50px;
    line-height: 50px;
}

.rep_str_dat{
    display: inline-block;
    border-right: 1px solid gray;
    width: 20%;
    height: 50px;
    line-height: 50px;
    background-color: aqua;
    float: left;
}

.rep_str_cash{
    display: inline-block;
    border-right: 1px solid gray;
    width: 30%;
    height: 50px;
    line-height: 50px;
    float: left;
}

.rep_str_comm{
    display: inline-block;
    width: 49%;
    height: 50px;
    line-height: 50px;
    float: left;
}